.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Adjust the height as needed */
    margin: 0 auto;
  }
  
  /* Additional styles for the slides if necessary */
  .slick-slide {
    text-align: center;
  }
  
  .slick-slide img {
    width: 100%;
    height: auto;
  }
  