/* header.css */

/* Your existing styles */

header {
  background-color: #009688;
  color: #fff;
  padding: 25px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.company-name {
  margin: 0;
  font-size: 1.5rem;
}

.navigation {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
  }

  li {
    margin-right: 20px;
  }

  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }

  a:hover {
    text-decoration: underline;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  width: 500px; /* Adjust the width as needed */
}

.categories-dropdown {
  margin-right: 10px;
}

.categories-button {
  position: relative;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color:rgb(225, 198, 228);
  border: 1px solid #a3839a;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
}

.dropdown-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-content li {
  cursor: pointer;
  margin-bottom: 5px;
}

.dropdown-content li:hover {
  text-decoration: underline;
}

#categories {
  padding: 5px;
  border-radius: 5px;
}

.search-bar input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
}

.search-bar span {
  margin: 0 5px;
  color: #fff;
}

.search-button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search-button:hover {
  background-color: #45a049; /* Change the background color on hover */
}

.user-signin-signup {
  display: flex;
}

.user-signin-signup a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}

.user-signin-signup a:hover {
  text-decoration: underline;
}

.cart {
  color: #fff;
  cursor: pointer;
  text-decoration:underline;
}

.cart:hover {
  text-decoration: underline;
}

/* Additional styles for sign-in page */
form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px auto;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

